.carousel-container
    height: 50% !important
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
.loader-container
    height: 50vh !important
    display: flex
    justify-content: center
    align-items: center
    background: #f5f5f5
    z-index: 1000
.slick
    &-slide
        height: 450px
        margin: 1em 0
        display: flex
        justify-content: center
        align-items: center
    &-list
        width: 100% !important
        display: flex
        flex-direction: column
        justify-content: center !important
img
    height: 400px
    max-width: 800px
    object-fit: cover